<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="#">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<meta charset="UTF-8">
<title>CodeTask</title>
</head>
<body style="background-color: rgb(0, 128, 192);">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Toggle navigation">
		<div class="container-fluid">
			<a class="navbar-brand fst-italic text-warning" th:href="@{/home}">CodeTask</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" aria-current="page"
						th:href="@{/home}">Home</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Criar </a>
						<ul class="dropdown-menu dropdown-menu-dark"
							aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" th:href="@{/home/criarTarefa}">Tarefa</a></li>
							<li><a class="dropdown-item" th:href="@{/home/criarTeste}">Teste</a></li>
							<li><a class="dropdown-item" th:href="@{/home/criarFiltro}">Filtro</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Visualizar </a>
						<ul class="dropdown-menu dropdown-menu-dark"
							aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" th:href="@{/home/tarefas}">Tarefas</a></li>
							<li><a class="dropdown-item" th:href="@{/home/testes}">Testes</a></li>
							<li><a class="dropdown-item" th:href="@{/home/filtros}">Filtros</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="display: flex; align-items: center; justify-content: center; padding-top: 20px">
		<div class="card text-white  bg-dark"  style="width: 70%">
			<div class="card-header bg-gradient">
				<h1 class="display-1 text-center">Editar Tarefa</h1>
			</div>
			<div class="card-body ">
				<div class="card-text">
					<div class="container"
						style="display: flex; align-items: center; justify-content: center;">
						<form class="was-validated" th:action="@{editado}" method="post" th:object="${tarefaDTO}">
							<input type="hidden" th:field="*{id}" th:value="${tarefaDTO.id}"> 
							<div class="mb-3 ">
								<div class="form-check">
									<label for="titulo" class="col-sm-2 col-form-label fs-4"
										th:text="'Título'"></label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="titulo"
											th:required="true" th:field="*{titulo}">
										<div class="invalid-feedback">Preencha o campo "Título"</div>
									</div>
								</div>
							</div>
							<div class="mb-5">
								<div class="form-check">
									<label for="descricao" class="col-sm-2 col-form-label fs-4"
										th:text="'Descrição'"></label>
									<div class="col-sm-12">
										<textarea class="form-control" cols="100%" id="descricao"
											rows="8" th:required="true" th:field="*{descricao}"></textarea>
										<div class="invalid-feedback">Preencha o campo
											"Descrição"</div>
									</div>
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<a th:href="@{/home/tarefas}">
								<button class="btn btn-secondary bg-gradient me-md-2"
									type="button">Voltar</button>
									</a>
								<button class="btn btn-success bg-gradient" type="submit">Editar</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<nav aria-label="Toggle navigation" class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid" style="align-items: center; justify-content: center;">
    <a class="nav-link link-warning" href="https://github.com/thixvinix/codeTask">Github</a>
  </div>
</nav>
	
</body>
</html>